@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap");

@media only screen and (max-width: 600px) {
  body h1 {
    display: flex;
    text-align: center;
    font-size: 8vw;
    font-family: "Italiana", serif;
    font-weight: bolder;
    color: beige;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  label {
    font-size: 100%;
    padding: 5px;
    color: white;
    font-family: "Roboto Mono", monospace;
    font-weight: bold;
  }

  #inputField {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: max-content;
  }

  .inputQttyLabelAndBtn {
    align-self: flex-start;
  }
  .inputItemAndLabel {
    align-self: flex-start;
  }

  #input_item {
    width: 50%;
    font-size: 4vw;
  }

  #input_qtty {
    font-size: 4vw;
    height: 5%;
  }

  #btnAdd {
    flex-shrink: 0;
  }

  tr#tableHeader {
    font-size: 4vw;
  }
  .cQttyCells, .cItensCell {
    font-size: 4vw;
  }
  .cItensCell {
    padding-left: 5%;
  }

  button.cDelBtn {
    width: 6vw;
    height: 8vw;
    font-size: 4vw;
  }
}

@media only screen and (max-width: 1269px) {
  #inputField {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    min-width: max-content;
  }

  .inputQttyLabelAndBtn {
    align-self: flex-start;
  }
  .inputItemAndLabel {
    align-self: flex-start;
    width: 100%;
  }
}