@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');

body {
  background-color: #b1447e;
  font-family: 'Roboto Mono', monospace;
}
body h1 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Italiana', serif;
  font-weight: bolder;
  color: beige;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

div#inputField {
  background-color: #f45920b7;
  transition: 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  min-width: 400px;
}
div#inputField:hover {
  background-color: #f45720;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

#inputItemDescription {
  font-size: smaller;
  height: 2.5rem;
  max-width: 85%;
  border-radius: 0;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
#btnAdd {
  width: min-content;
  font-size: smaller;
  text-align: center;
  opacity: 0.7;
  transition: 0.5s;
}
#btnAdd:hover {
  opacity: 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
#addIcon {
  font-size: 1.5rem;
}

#inputQtty {
  max-width: 7rem;
  min-width: 7rem;
  border-right: 0;
}
#selectUnity {
  max-width: 8rem;
  min-width: 8rem;
  height: 4.5rem;
  font-size: smaller;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

div#listArea {
  background-color: #262d3dd7;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
  min-width: 400px;
  transition: 0.5s;
}
div#listArea:hover {
  background-color: #414d68;
  box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.7);
}
div#listField {
  display: block;
  background-color: rgb(247, 247, 247);
  margin: 0.5rem;
  min-width: 365px;
}
table#listTable {
  min-width: 364px;
}
tr#tableHeader {
  border: 1px solid rgb(204, 195, 195);
  font-size: 1.5rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}
table#listTable th#headCellQtty {
  text-align: center;
  width: 10%;
}
table#listTable th#headCellItem {
  width: 75%;
}
.standardRow {
  font-size: 1.3rem;
}
.itensCell {
  width: 80%;
}
.itemsDescription {
  font-size: 0.9rem;
  font-style: italic;
  margin-left: 1rem;
}
.itemName {
  cursor: pointer;
  line-height: 1;
}
.standardLeftIdent {
  margin-left: 0.5rem;
}
.checkedIdent {
  margin-left: 1.8rem;
}
.qttyCellStandard {
  text-align: center;
  width: 15%;
}

.checkedRow {
  background-color: rgb(43, 42, 42);
}
.checkedTd {
  color: white;
  text-decoration: line-through;
  text-decoration-thickness: 0.2rem;
}
#delIcon {
  font-size: 1.5rem;
  font-weight: bolder;
}
.smallTableBtn {
  opacity: 0.3;
  width: 3.1rem;
  height: 2rem;
  transition: 0.5s;
}
button#delBtn:hover {
  opacity: 1;
  background-color: rgb(236, 16, 16);
  border: 1px solid red;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
button#editBtn:hover {
  opacity: 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
button#confirmEditionBtn:hover{
  opacity: 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.tickContainer {
  margin-top: -0.8rem;
  margin-bottom: -1.5rem;
}
.tickContainerChecked {
  position: relative;
  margin-left: 0.5rem;
}
.tickContainerChecked::before {
  content: ' ';
  display: block;
  position: absolute;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 0.5rem;
  left: 0.1rem;
  transform: rotate(45deg);
  height: 1.5rem;
  width: 0.8rem;
}
.selectEditUnity {
  width: 6rem;
  min-width: 6rem;
  border-width: 0;
}
.inputEditQtty{
  width: 6rem;
  min-width: 3rem;
  border-radius: 0;
  border-width: 0;
}

.form-control-sm:focus, .selectEditUnity:focus {
  outline: none;
  border-color: #4c7afa;
  box-shadow: none
}
