@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap");

body {
  background-color: #b1447e;
  font-family: "Roboto Mono", monospace;
}
body h1 {
  text-align: center;
  font-size: 3rem;
  font-family: "Italiana", serif;
  font-weight: bolder;
  color: beige;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

div#inputField {
  background-color: #f45920b7;
  transition: 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  min-width: 400px;
}
div#inputField:hover {
  background-color: #f45720;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
#btnAdd {
  opacity: 0.7;
  transition: 0.5s;
}
#btnAdd:hover{
  opacity: 1;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
#addIcon {
  font-size: 1.5em;
}

#inputQtty {
max-width: 5em;
min-width: 5em;
}

div#listArea {
  background-color: #262d3dd7;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.7);
  min-width: 400px;
  transition: 0.5s;
}
div#listArea:hover {
  background-color: #414d68;
  box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.7);
}

div#listField {
  display: block;
  background-color: rgb(247, 247, 247);
  margin: 10px;
  min-width: 365px;
}

table#listTable{
  min-width: 364px;
}
tr#tableHeader {
  border: 1px solid rgb(204, 195, 195);
  font-size: 1.4em;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
}

table#listTable th#headCellQtty {
  text-align: center;
  width: 10%;
}

table#listTable th#headCellItem {
  width: 75%;
}

tbody {
  font-size: 15pt;
}

#qttyCells {
  text-align: center;
  width: 15%;
}

#itensCell {
  width: 80%;
}

#delIcon {
  font-size: 1.5em;
  font-weight: bolder;
}
button#delBtn {
  opacity: 0.3;
  width: 50px;
  height: 30px;
  transition: 0.5s;
}
button#delBtn:hover {
  opacity: 1;
  background-color: rgb(236, 16, 16);
  border: 1px solid red;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
